* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: white;
  --text-color: black;
  --red-color: rgb(143, 0, 0);
  --nav-color: rgba(0, 0, 0, 0.832);
  --footer-color: rgba(82, 82, 82, 0.945);
  --cards-background: linear-gradient(rgb(241, 241, 241), rgb(209, 204, 204));
  ;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  min-height: 100%;

  a {
    text-decoration: none;
  }

  section, main {
    margin: 1em 2em;
  }

  .footer {
    margin-top: 3em;
    padding: 2em;
    background-color: var(--footer-color);
    color: var(--primary-color);
    border-top: 2px inset black;

    .footer-icons {
      display: flex;
      justify-content: space-around;
      padding-top: 2em;

      img {
        height: 2em;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "section-compra"
    "section-venta"
    "footer";
}

aside {
  display: none;
}

.sectionContactos {
  justify-content: center;
}

@media (min-width: 480px) {

  .formContact {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    .logo-header {
      align-self: center;

      .logo-header {
        img {
          height: 40px;
        }
      }
    }
    .search {
      display: block;
    }
  
    .menu-bar li {
      padding: 0 15px;
      margin: 10px 0;
    }
  
    .menu-bar a {
      font-size: 19px;
      line-height: 50px;
    }
  
    .menu-bar a:hover {
      background-color: var(--red-color);
      border-radius: 15px;
    }
  }

  .subtitle-venta:hover,
  .subtitle-compra:hover {
    cursor: pointer;
    color: rgb(192, 0, 0);
  }

  .img-pub {
    transition: 0.5s;
    object-fit: cover;
    cursor: pointer;

    :hover {
      transform: scale(1.5);
    }
  }

  .footer-icons {
    justify-content: end;

    img {
      padding-right: 2em;

    }

    :hover {
      cursor: pointer;
    }
  }
}