* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: white;
  --text-color: black;
  --red-color: rgb(161, 0, 0);
  --nav-color: rgba(0, 0, 0, 0.832);
  --footer-color: rgba(59, 59, 59, 0.945);
  --cards-background: linear-gradient(rgb(241, 241, 241), rgb(209, 204, 204));
  ;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  min-height: 100%;

  main{
    background: url(../Imagenes/imagen\ de\ portada.jpg) no-repeat center ;
    background-size: cover;
    position: relative;
    height: 350px;
      .container-main{
        .title-main{
          position: absolute;
          top: 50%;
          left: 15px;
          right: 15px;
          transform: translateY(-50%);
          color: var(--primary-color);
        }
      } 
  }
  main::before{
    content: "";
    width: 100%;
    min-height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.4;
  }

  a {
    text-decoration: none;
  }

  section{
    margin: 1em 2em;
  }

  h2{
    letter-spacing: 2px;
  }

  .footer {
    margin-top: 3em;
    padding: 2em;
    background-color: var(--footer-color);
    color: var(--primary-color);
    border-top: 2px inset black;
    .footer-container{
      .footer-position{
        .footer-copyright{
          justify-content: center;
          a{
            list-style-type: none;
            color: var(--red-color);
            font-weight: bold;
          }
          .footer-divider{
            margin: 0 10px;
            border-left: 1px solid var(--primary-color);
          }
        }
        .footer-socialmedia {
          display: flex;
          justify-content: space-evenly;
          padding: 2em 0 0 0;
    
          img {
            height: 25px;
          }
        } 
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "section-compra"
    "section-venta"
    "footer";
}


@media (min-width: 480px) {

  body {

    .formContact {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    header {
      .logo-header {
        align-self: center;

        .logo-header {
          img {
            height: 40px;
          }
        }
      }

      .search {
        display: block;
      }

      .menu-bar li {
        padding: 0 15px;
        margin: 10px 0;
      }

      .menu-bar a {
        font-size: 19px;
        line-height: 50px;
      }

      .menu-bar a:hover {
        background-color: var(--red-color);
        border-radius: 15px;
      }
    }
    section{
      max-width: 1200px;
      justify-self: center;
    }

    .subtitle-venta:hover,
    .subtitle-compra:hover {
      cursor: pointer;
      color: rgb(192, 0, 0);
    }

    .img-pub {
      transition: 0.5s;
      object-fit: cover;
      cursor: pointer;

      :hover {
        transform: scale(1.5);
      }
    }

    .footer {
      .footer-container {

        .footer-position {
          display: flex;
          justify-content: space-around;

          .footer-copyright {

          }

          .footer-socialmedia {
            padding: 0;

            img {
              padding-right: 2em;

            }

            :hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}