
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--nav-color);
    box-shadow: 0 4px 5px var(--footer-color);
    

    .logo-header{
        margin: 1em;
        align-self: center;

         img{
            height: 40px;
        }    
    }
    .navbar{
        .container-fluid{
            li {
               padding: 0 2em;
             }
       
             .nav-item a{
               font-size: 1.15em
             }
       
             .nav-item a:hover {
               background-color: var(--red-color);
               border-radius: 8px;
             }
       }
    }
    .navbar-nav .nav-link.active{
        color: var(--primary-color);
    }
    .navbar-toggler{
        filter: invert(1);
    }
}

@media (min-width: 768px){
    .header{

        .logo-header img{
            height: 50px;
        }
        .navbar{
            .container-fluid{
                li {
                   padding: 0 10px;
                 }
           
                 .nav-item a{
                   font-size: 1.3em
                 }

           }
        }
    }
}

@media (min-width: 992px){
    .header{
        flex-direction: row;
    }
}