.title-main{
    font-size: 40px;
}
.containerNosotros {
    max-width: 1200px;
    justify-self: center;

    .wrapperNosotros {

        .wrapNosotros {
            padding: 25px 50px ;
            border-bottom: 1px solid rgb(194, 194, 194) ;
            .wrapNosotrosInfo {
                display: grid;
                grid-template-rows: auto;
                padding: 0 20px;
                .titleWrapNosotros {
                    font-size: large;
                    justify-self: start;
                    padding-bottom: 1em;
                }
                .wrapNosotrosInfo-parrafo {
                    @extend .wrapNosotrosInfo-parrafo-2;
                    font-weight: bold;
                }

                .wrapNosotrosInfo-parrafo-2 {
                    padding-bottom: 0.5em;
                    text-align: justify;
                }
                .wrapNosotrosList{
                    text-align: start;
                    margin-left: 1em;
                    ul li{
                        list-style-type: disclosure-closed;                        
                    }
                    ::marker{
                        color: var(--red-color);
                    }
                }
            }
            .wrapNosotrosImg{
                padding: 1em;
            }

        }
    }
}

@media (min-width: 1000px){
    .containerNosotros {

        .wrapperNosotros {
            max-width: 1103px;
            .wrapNosotros {
                display: flex;
                margin: 25px 0px ;

                .wrapNosotrosInfo {
                    .titleWrapNosotros {}
    
                    .wrapNosotrosInfo-parrafo {}
    
                    .wrapNosotrosInfo-parrafo-2 {}
                }
    
                .wrapNosotrosImg {
                    padding: 0;

                    img{
                        width: 500px;

                     }
                }
            }
        }
    }
}