.section-venta{
    .subtitle-venta{
        margin-bottom: 2em;
    }
    .cards{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;

        .card{
            width: 300px;
            margin: 25px;
            padding: 40px 20px;
            background: var(--cards-background);
            border-radius:  15px;
            box-shadow: 0 10px 15px rgb(22, 22, 22);
            text-align: center;
            transition: all 0.5s ease;

            .card-title{
                color: var(--text-color);
                margin-bottom: 15px;
                font-weight: bolder;
            }
            .card-subtitle{
                margin-bottom: 10px;
                color: var(--text-color);
            }
            .card-parrafo{
                color: var(---text-color);
                text-align: justify;
            }
            .card-btn{
                display: inline-block;
                margin-top: 20px;
                padding: 10px 20px;
                background: var(--red-color);
                border-radius: 40px;
                box-shadow: 0 10px 15px rgba(2, 0, 0, 0.3);
                color: rgb(255, 255, 255);
                font-weight: bolder;
                text-decoration: none;
            }
            
        }
        .card:hover{
            transform: scale(1.05);
        }
    }
}