@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Quicksand&family=Red+Hat+Display:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: white;
  --text-color: black;
  --red-color: rgb(143, 0, 0);
  --nav-color: rgba(0, 0, 0, 0.832);
  --footer-color: rgba(82, 82, 82, 0.945);
  --cards-background: linear-gradient(rgb(241, 241, 241), rgb(209, 204, 204));
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  min-height: 100%;
}
body a {
  text-decoration: none;
}
body section, body main {
  margin: 1em 2em;
}
body .footer {
  margin-top: 3em;
  padding: 2em;
  background-color: var(--footer-color);
  color: var(--primary-color);
  border-top: 2px inset black;
}
body .footer .footer-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}
body .footer .footer-icons img {
  height: 2em;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "section-compra" "section-venta" "footer";
}

.sectionContactos {
  justify-content: center;
}

@media (min-width: 480px) {
  .formContact {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  header .logo-header {
    align-self: center;
  }
  header .logo-header .logo-header img {
    height: 40px;
  }
  header .search {
    display: block;
  }
  header .menu-bar li {
    padding: 0 15px;
    margin: 10px 0;
  }
  header .menu-bar a {
    font-size: 19px;
    line-height: 50px;
  }
  header .menu-bar a:hover {
    background-color: var(--red-color);
    border-radius: 15px;
  }
  .subtitle-venta:hover,
.subtitle-compra:hover {
    cursor: pointer;
    color: rgb(192, 0, 0);
  }
  .img-pub {
    transition: 0.5s;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  .img-pub :hover {
    transform: scale(1.5);
  }
  .footer-icons {
    justify-content: end;
  }
  .footer-icons img {
    padding-right: 2em;
  }
  .footer-icons :hover {
    cursor: pointer;
  }
}
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--nav-color);
  box-shadow: 0 4px 5px var(--footer-color);
}
.header .logo-header {
  margin: 1em;
}
.header .logo-header img {
  height: 40px;
}
.header .search {
  display: none;
  align-self: center;
}
.header .search input {
  border-radius: 0.25em;
}
.header .search img {
  height: 1.5em;
}
.header .menu-bar {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 100%;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
}
.header .menu-bar li {
  text-transform: uppercase;
}
.header .menu-bar a {
  color: var(--primary-color);
  margin-left: 1fr;
  padding: 10px;
}

.section-compra .subtitle-compra {
  margin-bottom: 2em;
}
.section-compra .pub {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 3em;
  padding-bottom: 3em;
  align-items: center;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.section-compra .pub .img-pub {
  margin-right: 1em;
}
.section-compra .pub .parrafo-grid {
  display: grid;
  grid-template-rows: 70% 30%;
}
.section-compra .pub .parrafo-grid .parrafo-pub {
  text-align: start;
  padding-bottom: 1em;
  color: rgb(41, 41, 41);
}

.section-venta .subtitle-venta {
  margin-bottom: 2em;
}
.section-venta .cards {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.section-venta .cards .card {
  width: 300px;
  margin: 25px;
  padding: 40px 20px;
  background: var(--cards-background);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgb(22, 22, 22);
  text-align: center;
  transition: all 0.5s ease;
}
.section-venta .cards .card .card-title {
  color: var(--text-color);
  margin-bottom: 15px;
  font-weight: bolder;
}
.section-venta .cards .card .card-subtitle {
  margin-bottom: 10px;
  color: var(--text-color);
}
.section-venta .cards .card .card-parrafo {
  color: var(---text-color);
  text-align: justify;
}
.section-venta .cards .card .card-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--red-color);
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba(2, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;
}
.section-venta .cards .card:hover {
  transform: scale(1.05);
}

@media (min-width: 480px) {
  .section-venta .cards {
    display: flex;
  }
  .section-venta .cards .card {
    max-width: 300px;
    margin: 25px;
    padding: 40px 20px;
  }
  .section-venta .cards .card .card-title {
    margin-bottom: 15px;
  }
  .section-venta .cards .card .card-subtitle {
    margin-bottom: 10px;
  }
  .section-venta .cards .card .card-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
  }
}
aside {
  display: none;
}

@media (min-width: 480px) {
  aside {
    display: block;
  }
  .wrapper-compra {
    max-width: 1500px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "aside  section-compra section-compra section-compra";
  }
  aside {
    grid-area: aside;
  }
  .section-compra {
    grid-area: section-compra;
  }
  aside {
    margin: 1em;
    margin-right: 5em;
    padding-top: 1em;
  }
  aside .wrapper-filter {
    margin-top: 3em;
    min-width: 200px;
    max-width: 300px;
  }
  aside .wrapper-filter .wrapper-marca,
aside .wrapper-filter .wrapper-año,
aside .wrapper-filter .wrapper-combustible {
    margin: 3em 0.5em;
    padding: 1em;
    border-top: solid rgb(161, 2, 2);
    border-radius: 2px;
    box-shadow: 0 3px 5px rgb(100, 100, 100);
  }
  aside .wrapper-filter .wrapper-marca .checkbox-wrapper-title,
aside .wrapper-filter .wrapper-año .checkbox-wrapper-title,
aside .wrapper-filter .wrapper-combustible .checkbox-wrapper-title {
    margin-bottom: 0.5em;
    font-size: large;
  }
  aside .wrapper-filter .wrapper-marca form,
aside .wrapper-filter .wrapper-año form,
aside .wrapper-filter .wrapper-combustible form {
    text-align: justify;
    line-height: 1.7em;
  }
  aside .wrapper-filter .wrapper-marca form input,
aside .wrapper-filter .wrapper-año form input,
aside .wrapper-filter .wrapper-combustible form input {
    margin-right: 0.5em;
  }
}
.wrapper-login {
  margin: 30px 0 50px;
  justify-content: center;
}
.wrapper-login .login {
  justify-content: center;
  width: 500px;
  margin: 15px auto 0;
}
.wrapper-login .login .login--loginWith {
  padding: 30px 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.wrapper-login .login .login--loginWith .login--loginWith--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook {
  display: flex;
  background: white;
  margin: 1em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.wrapper-login .login .login--loginWith .login--loginWith--google .btn--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook .btn--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook .btn--facebook {
  margin: 0;
  width: 70%;
}
.wrapper-login .login .login--loginWith .login--loginWith--facebook {
  background-color: #3b5998;
  color: var(--primary-color);
}
.wrapper-login .login .mb-2 {
  justify-content: space-evenly;
  margin-top: 30px;
}
.wrapper-login .login .mb-2 .col-sm-3 {
  width: 70%;
}
.wrapper-login .login .btn--iniciarSesion {
  padding: 15px 0;
}
.wrapper-login .login .btn--iniciarSesion .btn {
  width: 460px;
  margin: 1em;
  padding: 0.5em;
  font-size: 20px;
  font-weight: bolder;
  background-color: var(--red-color);
  border: 0.3px solid black;
  border-radius: 10px;
}
.wrapper-login .login .forgotenPassword {
  margin-bottom: 15px;
}
.wrapper-login .login .forgotenPassword a {
  text-decoration: none;
  color: black;
  font-size: large;
}
.wrapper-login .login .registerWrap {
  padding-top: 15px;
  border-top: 1px solid rgb(194, 194, 194);
  font-size: large;
}
.wrapper-login .login .registerWrap .register--link {
  text-decoration: none;
  color: var(--red-color);
}/*# sourceMappingURL=style.css.map */