@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Quicksand&family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Montserrat:wght@100&family=Oswald:wght@600&family=Quicksand&family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Montserrat:wght@100&family=Oswald:wght@600&family=Quicksand&family=Red+Hat+Display:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary-color: white;
  --text-color: black;
  --red-color: rgb(161, 0, 0);
  --nav-color: rgba(0, 0, 0, 0.832);
  --footer-color: rgba(59, 59, 59, 0.945);
  --cards-background: linear-gradient(rgb(241, 241, 241), rgb(209, 204, 204));
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  min-height: 100%;
}
body main {
  background: url(../Imagenes/imagen\ de\ portada.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height: 350px;
}
body main .container-main .title-main {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  transform: translateY(-50%);
  color: var(--primary-color);
}
body main::before {
  content: "";
  width: 100%;
  min-height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  opacity: 0.4;
}
body a {
  text-decoration: none;
}
body section {
  margin: 2em 0;
}
body h2 {
  letter-spacing: 2px;
  padding: 15px;
  background: var(--red-color);
  color: white;
}
body .footer {
  margin-top: 3em;
  padding: 2em;
  background-color: var(--footer-color);
  color: var(--primary-color);
  border-top: 2px inset black;
}
body .footer .footer-container .footer-position .footer-copyright {
  justify-content: center;
}
body .footer .footer-container .footer-position .footer-copyright a {
  list-style-type: none;
  color: var(--red-color);
  font-weight: bold;
}
body .footer .footer-container .footer-position .footer-copyright .footer-divider {
  margin: 0 10px;
  border-left: 1px solid var(--primary-color);
}
body .footer .footer-container .footer-position .footer-socialmedia {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0 0 0;
}
body .footer .footer-container .footer-position .footer-socialmedia img {
  height: 25px;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "section-compra" "section-venta" "footer";
}

@media (min-width: 992px) {
  body .formContact {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  body header .logo-header {
    align-self: center;
  }
  body header .logo-header .logo-header img {
    height: 40px;
  }
  body section {
    justify-self: center;
  }
  body .subtitle-venta:hover {
    cursor: pointer;
    color: rgb(192, 0, 0);
  }
  body .img-pub {
    transition: 0.9s;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  body .img-pub :hover {
    transform: scale(1.1);
  }
  body .footer .footer-container .footer-position {
    display: flex;
    justify-content: space-around;
  }
  body .footer .footer-container .footer-position .footer-socialmedia {
    padding: 0;
  }
  body .footer .footer-container .footer-position .footer-socialmedia img {
    padding-right: 2em;
  }
  body .footer .footer-container .footer-position .footer-socialmedia :hover {
    cursor: pointer;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--nav-color);
  box-shadow: 0 4px 5px var(--footer-color);
}
.header .logo-header {
  margin: 1em;
  align-self: center;
}
.header .logo-header img {
  height: 40px;
}
.header .navbar .container-fluid li {
  padding: 0 2em;
}
.header .navbar .container-fluid .nav-item a {
  font-size: 1.15em;
}
.header .navbar .container-fluid .nav-item a:hover {
  background-color: var(--red-color);
  border-radius: 8px;
}
.header .navbar-nav .nav-link.active {
  color: var(--primary-color);
}
.header .navbar-toggler {
  filter: invert(1);
}

@media (min-width: 768px) {
  .header .logo-header img {
    height: 50px;
  }
  .header .navbar .container-fluid li {
    padding: 0 10px;
  }
  .header .navbar .container-fluid .nav-item a {
    font-size: 1.3em;
  }
}
@media (min-width: 992px) {
  .header {
    flex-direction: row;
  }
}
section {
  width: 100%;
}

.section-compra .subtitle-compra {
  text-align: start;
  margin-bottom: 3em;
  padding: 0 0 1em 1.5em;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.section-compra .container-compra-publicaciones .pub {
  display: flex;
  margin-bottom: 3em;
  padding-bottom: 3em;
  align-items: center;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.section-compra .container-compra-publicaciones .pub .img-pub {
  align-items: center;
  margin: 1.5em;
}
.section-compra .container-compra-publicaciones .pub .img-pub img {
  width: 120px;
}
.section-compra .container-compra-publicaciones .pub .car-content {
  display: grid;
  grid-template-rows: 70% 30%;
}
.section-compra .container-compra-publicaciones .pub .car-content .car-text {
  text-align: start;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
  color: rgb(41, 41, 41);
}
.section-compra .container-compra-publicaciones .pub .car-content .car-details {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bolder;
}
.section-compra .container-compra-publicaciones .pub .car-content .car-price {
  font-family: "Oswald", serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: 4px;
  width: 170px;
}
.section-compra .container-compra-publicaciones .pub .car-content .car-price p {
  margin: 0;
  color: var(--red-color);
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--red-color);
}

@media (min-width: 768px) {
  .section-compra .subtitle-compra {
    text-align: center;
    padding: 0 0 1em 0;
  }
  .section-compra .container-compra-publicaciones .pub {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 3em;
    padding-bottom: 3em;
    align-items: center;
  }
  .section-compra .container-compra-publicaciones .pub .img-pub {
    margin: 1em;
    padding: 0 2em;
  }
  .section-compra .container-compra-publicaciones .pub .car-content {
    margin-left: 2em;
  }
  .section-compra .container-compra-publicaciones .pub .car-content .car-text {
    font-weight: 700;
  }
}
@media (min-width: 992px) {
  body section {
    max-width: auto;
  }
  .section-compra .subtitle-compra {
    letter-spacing: 3px;
    font-weight: bold;
  }
  .section-compra .container-compra-publicaciones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 295px));
    grid-column-gap: 34px;
    grid-row-gap: 34px;
    justify-content: center;
    margin: 0 0 55px;
  }
  .section-compra .container-compra-publicaciones .pub {
    grid-template-columns: auto;
    padding: 0;
    margin: 0;
  }
  .section-compra .container-compra-publicaciones .pub .img-pub {
    margin: 0;
    padding: 0;
  }
  .section-compra .container-compra-publicaciones .pub .img-pub img {
    width: 200px;
  }
  .section-compra .container-compra-publicaciones .pub .car-content .car-price {
    justify-self: center;
  }
}
.section-venta .subtitle-venta {
  margin-bottom: 2em;
}
.section-venta .cards {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}
.section-venta .cards .card {
  width: 300px;
  margin: 25px;
  padding: 40px 20px;
  background: var(--cards-background);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgb(22, 22, 22);
  text-align: center;
  transition: all 0.5s ease;
}
.section-venta .cards .card .card-title {
  color: var(--text-color);
  margin-bottom: 15px;
  font-weight: bolder;
}
.section-venta .cards .card .card-subtitle {
  margin-bottom: 10px;
  color: var(--text-color);
}
.section-venta .cards .card .card-parrafo {
  color: var(---text-color);
  text-align: justify;
}
.section-venta .cards .card .card-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--red-color);
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba(2, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;
}
.section-venta .cards .card:hover {
  transform: scale(1.05);
}

@media (min-width: 1070px) {
  .section-venta .cards {
    display: flex;
  }
  .section-venta .cards .card {
    max-width: 350px;
    margin: 20px;
    padding: 40px 20px;
    display: grid;
  }
  .section-venta .cards .card .card-title {
    margin-bottom: 15px;
  }
  .section-venta .cards .card .card-subtitle {
    font-size: 20px;
  }
  .section-venta .cards .card .card-btn {
    display: inline-block;
    margin-top: 0;
    padding: 10px 20px;
    align-self: center;
  }
}
aside {
  display: none;
}

@media (min-width: 768px) {
  aside {
    display: block;
  }
  .wrapper-compra {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "aside  section-compra section-compra section-compra";
  }
  aside {
    grid-area: aside;
  }
  .section-compra {
    grid-area: section-compra;
  }
  aside {
    margin: 1em;
    padding-top: 1em;
  }
  aside .wrapper-filter {
    margin-top: 3em;
    min-width: 200px;
    max-width: 300px;
  }
  aside .wrapper-filter .wrapper-marca,
aside .wrapper-filter .wrapper-año,
aside .wrapper-filter .wrapper-combustible {
    margin: 3em 0.5em;
    padding: 1em;
    border-top: solid rgb(161, 2, 2);
    border-radius: 2px;
    box-shadow: 0 3px 5px rgb(100, 100, 100);
  }
  aside .wrapper-filter .wrapper-marca .checkbox-wrapper-title,
aside .wrapper-filter .wrapper-año .checkbox-wrapper-title,
aside .wrapper-filter .wrapper-combustible .checkbox-wrapper-title {
    margin-bottom: 0.5em;
    font-size: large;
  }
  aside .wrapper-filter .wrapper-marca .checkbox-wrapper-title .checkbox-title,
aside .wrapper-filter .wrapper-año .checkbox-wrapper-title .checkbox-title,
aside .wrapper-filter .wrapper-combustible .checkbox-wrapper-title .checkbox-title {
    font-weight: bold;
    letter-spacing: 1px;
  }
  aside .wrapper-filter .wrapper-marca form,
aside .wrapper-filter .wrapper-año form,
aside .wrapper-filter .wrapper-combustible form {
    text-align: justify;
    line-height: 1.7em;
  }
  aside .wrapper-filter .wrapper-marca form input,
aside .wrapper-filter .wrapper-año form input,
aside .wrapper-filter .wrapper-combustible form input {
    margin-right: 0.5em;
  }
}
@media (min-width: 992px) {
  aside {
    margin: 1em 2em 0 3em;
  }
}
.wrapper-login {
  margin: 30px 0 50px;
}
.wrapper-login .login {
  justify-content: center;
  width: 300px;
  margin: 15px auto 0;
}
.wrapper-login .login .login--loginWith {
  padding: 10px 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.wrapper-login .login .login--loginWith .login--loginWith--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook {
  display: flex;
  background: white;
  margin: 0.5em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
}
.wrapper-login .login .login--loginWith .login--loginWith--google .btn--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook .btn--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook .btn--facebook {
  margin: 0;
  width: 70%;
}
.wrapper-login .login .login--loginWith .login--loginWith--facebook {
  background-color: #3b5998;
  color: var(--primary-color);
}
.wrapper-login .login .mb-2 {
  justify-content: space-evenly;
  margin-top: 5px;
}
.wrapper-login .login .mb-2 .col-sm-3 {
  width: 70%;
}
.wrapper-login .login .btn--iniciarSesion {
  padding: 10px 0;
}
.wrapper-login .login .btn--iniciarSesion .btn {
  width: 270px;
  margin: 1em;
  padding: 0.5em;
  font-size: 15px;
  font-weight: bolder;
  background-color: var(--red-color);
  border: 0.3px solid black;
  border-radius: 10px;
}
.wrapper-login .login .forgotenPassword {
  margin-bottom: 15px;
}
.wrapper-login .login .forgotenPassword a {
  text-decoration: none;
  color: black;
  font-size: large;
}
.wrapper-login .login .registerWrap {
  padding-top: 15px;
  border-top: 1px solid rgb(194, 194, 194);
  font-size: large;
}
.wrapper-login .login .registerWrap .register--link {
  text-decoration: none;
  color: var(--red-color);
}

@media (min-width: 768px) {
  .wrapper-login {
    margin: 30px 0 50px;
  }
  .wrapper-login .login {
    width: 500px;
  }
  .wrapper-login .login .login--loginWith {
    padding: 30px 0;
  }
  .wrapper-login .login .login--loginWith .login--loginWith--google, .wrapper-login .login .login--loginWith .login--loginWith--facebook {
    margin: 1em;
    padding: 0.5em;
    font-size: 20px;
  }
  .wrapper-login .login .login--loginWith .login--loginWith--facebook {
    background-color: #3b5998;
    color: var(--primary-color);
  }
  .wrapper-login .login .mb-2 {
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .wrapper-login .login .mb-2 .col-sm-3 {
    width: 70%;
  }
  .wrapper-login .login .btn--iniciarSesion {
    padding: 15px 0;
  }
  .wrapper-login .login .btn--iniciarSesion .btn {
    width: 460px;
    margin: 1em;
    padding: 0.5em;
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--red-color);
    border: 0.3px solid black;
    border-radius: 10px;
  }
  .wrapper-login .login .forgotenPassword {
    margin-bottom: 15px;
  }
  .wrapper-login .login .forgotenPassword a {
    text-decoration: none;
    color: black;
    font-size: large;
  }
  .wrapper-login .login .registerWrap {
    padding-top: 15px;
    border-top: 1px solid rgb(194, 194, 194);
    font-size: large;
  }
  .wrapper-login .login .registerWrap .register--link {
    text-decoration: none;
    color: var(--red-color);
  }
}
.sectionContact {
  margin: 30px;
  padding: 40px 90px 20px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 18px rgb(146, 146, 146);
}
.sectionContact .titleVisitanos {
  color: var(--red-color);
}

.col-12 .btn {
  width: 200px;
  background: var(--red-color);
  border: var(--red-color);
}

.sectionContact-2 {
  text-align: -webkit-center;
}
.sectionContact-2 .wrapperVisitanos {
  max-width: 400px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.15);
}
.sectionContact-2 .wrapperVisitanos .titleVisitanos {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  color: var(--red-color);
}
.sectionContact-2 .wrapperVisitanos .wrapVisitanos {
  display: flex;
  text-align: start;
  margin-bottom: 1em;
}
.sectionContact-2 .wrapperVisitanos .wrapVisitanos .wrapperVisitanos-info {
  margin-left: 1.5em;
}
.sectionContact-2 .wrapperMaps {
  margin: 30px;
  align-self: center;
}
.sectionContact-2 .wrapperMaps .map-l {
  display: none;
}

@media (min-width: 768px) {
  .sectionContact {
    max-width: 1200px;
    margin: 50px 50px;
  }
  .sectionContact .fromContact {
    inline-size: -webkit-max-content;
    inline-size: -moz-max-content;
    inline-size: max-content;
  }
  .sectionContact-2 {
    margin: 50px 50px 0;
    display: flex;
    justify-content: space-evenly;
  }
  .sectionContact-2 .wrapperVisitanos {
    justify-content: start;
    max-width: 600px;
    margin: 30px 0;
    padding: 40px 20px 20px;
  }
}
@media (min-width: 992px) {
  .sectionContact-2 .wrapperMaps {
    margin: 30px;
    align-self: center;
  }
  .sectionContact-2 .wrapperMaps .map-l {
    display: block;
  }
  .sectionContact-2 .wrapperMaps .map-s {
    display: none;
  }
}
.containerNosotros {
  text-align: -webkit-center;
}
.containerNosotros .wrapperNosotros .wrapNosotros {
  padding: 25px 50px;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo {
  display: grid;
  grid-template-rows: auto;
  padding: 0 20px;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .titleWrapNosotros {
  font-size: large;
  justify-self: start;
  padding-bottom: 1em;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosInfo-parrafo {
  font-weight: bold;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosInfo-parrafo-2, .containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosInfo-parrafo {
  padding-bottom: 0.5em;
  text-align: justify;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosList {
  text-align: start;
  margin-left: 1em;
  transform: translateX(-6%);
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosList ul li {
  list-style-type: disclosure-closed;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosInfo .wrapNosotrosList ::marker {
  color: var(--red-color);
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosImg {
  padding: 1em;
}
.containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosImg img {
  width: 300px;
}

@media (min-width: 768px) {
  .containerNosotros .wrapperNosotros {
    max-width: 1103px;
  }
  .containerNosotros .wrapperNosotros .wrapNosotros {
    display: flex;
    margin: 25px 0px;
  }
  .containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosImg {
    padding: 0;
  }
  .containerNosotros .wrapperNosotros .wrapNosotros .wrapNosotrosImg img {
    width: 500px;
  }
}/*# sourceMappingURL=style.css.map */